/* Common Hero Section CSS */
.about-us-page sup {
    font-size: 20px;
    vertical-align: middle;
}
.wrapper.how-it-works-page .box1 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.wrapper.how-it-works-page .box1 img {
  position: absolute;
  right: 0;
  top: 20px;
}

.wrapper.how-it-works-page .btnReverse.et_pb_button {
  font-weight: 700;
  line-height: 36px !important;
  display: inline-block;
  width: 213px;
  height: 51px;
  text-align: center;
}

.wrapper.how-it-works-page .btnReverse.et_pb_button::after {
    content: "";
}

.wrapper.no-home .box1 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center !important;
}

.box1 h1 {
  color: #FFF;
  line-height: 1.2;
  max-width: 800px;
}

.box1 p {
  color: #FFF;
  max-width: 800px;
}

.wrapper > div.box1 {
  padding: 3rem 4em;
}

.wrapper {
  width: 98%;
  margin: 0 1rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 1em;
  grid-auto-rows: minmax(230px, auto);
  justify-items: stretch;
  align-items: stretch;
  margin-bottom: 1em;
}

.wrapper > div {
  background-color: #eee;
  padding: 1em;
  border-radius: 10px;
}

.nested {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 230px;
  grid-gap: 1em;
  justify-items: stretch;
  align-items: stretch;
}

.wrapper > div.nested {
  padding: 0;
  background: transparent;
}

.nested > div {
  padding: 1em;
  border-radius: 10px;
}

.box1 {
  background: rgb(0, 62, 115);
  background: -webkit-linear-gradient(left, rgba(0, 62, 115, 1) 0%, rgba(0, 155, 200, 1) 100%);
  background: -o-linear-gradient(left, rgba(0, 62, 115, 1) 0%, rgba(0, 155, 200, 1) 100%);
  background: linear-gradient(to right, rgba(0, 62, 115, 1) 0%, rgba(0, 155, 200, 1) 100%);
}

.pyx-nested-box {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.wrapper>div.box1 h1,
.wrapper>div.box1 p {
  max-width: 725px;
}

@media only screen and (min-width: 1261px) and (max-width: 1360.98px) {
  .wrapper {
    grid-template-columns: 2fr 1.15fr;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1260.98px) {
  .wrapper {
    grid-template-columns: 2fr 1.3fr;
  }
}

@media only screen and (min-width: 981px) and (max-width: 1199.98px) {
  .nested {
    grid-auto-rows: 190px;
  }
  .wrapper>div.box1 {
    padding: 2rem 2em !important;
  }
  .wrapper {
    display: flex;
  }
  .wrapper>div.nested {
    flex: 0 0 calc(396px - 18px);
  }
  .wrapper>div.box1 {
    flex: 0 0 calc(100% - 396px);
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  .wrapper>div.box1 h1 {
    font-size: 29px !important;
  }
  .wrapper>div.box1 h1,
  .wrapper>div.box1 p {
    max-width: 525px;
  }
}

@media only screen and (max-width: 1280px) {
  .wrapper>div.box1 {
    padding: 3rem 2em;
  }
  .wrapper {
    width: 97%;
  }
}

@media only screen and (max-width: 1024px) {
  .box1 h1 {
    font-size: 28px;
  }
  .nested {
    grid-auto-rows: 190px;
  }
}

@media only screen and (max-width: 980px) {
  .nested {
    grid-auto-rows: 140px;
  }
  .nested {
    display: none;
  }
  .wrapper {
    grid-template-columns: 3fr;
  }
}

@media only screen and (max-width: 767.98px) {
  .wrapper {
    width: 96%;
  }
  .wrapper.how-it-works-page .box1 img {
    display: none;
  }
}

@media only screen and (max-width: 580px) {
  .wrapper {
    width: 91%;
  }
}
/* End Common Hero Section CSS */
